div
    h1 Magic Deck Builder
    
    ul#nav.clearfix
        li
            a(href="/cardlist", rel="all") Card List
        li
            a(href="#", rel="black") Black Cards
        li
            a(href="/blue", rel="blue") Blue Cards
        li
            a(href="/green", rel="green") Green Cards
        li
            a(href="/red", rel="red") Red Cards
        li
            a(href="/white", rel="white") White Cards