div
    h1 Magic Deck Builder
    
    ul#nav
        li
            a(href="/cardlist") Card List
        li
            a(href="/black") Black Cards
        li
            a(href="/blue") Blue Cards
        li
            a(href="/green") Green Cards
        li
            a(href="/red") Red Cards
        li
            a(href="/white") White Cards
            