extends layout

block content
  p Welcome to Magic Deck Builder


    // CARD INFO
    #cardInfo
        h2 Card Info
        p
            strong Name:
            | <span id='cardInfoName'></span>
            br
            strong Rarity:
            | <span id='cardInfoRarity'></span>
            br
            strong Cost:
            | <span id='cardInfoCost'></span>
            br
            strong Power:
            | <span id='cardInfoPower'></span>
            br
            strong Toughness:
            | <span id='cardInfoToughness'></span>
            br
    // /card info
    
    // Wrapper
    #wrapper

        // Card List
        h2 Card List
        #cardList
            table
                thead
                    th Card Name
                    th Rarity
                    th Delete?
                    
                tbody
        // /cardlist
            
    // /wrapper