script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
script(src='http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
script(src='http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js')
script(src='/javascripts/cards/models/Card.js')
script(src='/javascripts/cards/models/CreatureCards.js')
script(src='/javascripts/cards/models/SpellCards.js')
script(src='/javascripts/cards/models/ArtifactCards.js')
script(src='/javascripts/cards/controllers/CardController.js')
script(src='/javascripts/global.js')