doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
  body
    include header
    block content
    include javascripts